In [ ]:
#08/09/2022

In [1]:
#case1: no parameters given,no return
def add():
    num1,num2=input("enter the two numbers").split(",")
    num1=int(num1)
    num2=int(num2)
    result=num1+num2
    print(result)
add()

enter the two numbers34,67
101

In [2]:
print("hello")
def add():
    num1,num2=input("enter the two numbers").split(",")
    num1=int(num1)
    num2=int(num2)
    result=num1+num2
    print(result)
print("before function calling")
add()
print("after function calling")

hello
before function calling
enter the two numbers3,9
12
after function calling

In [4]:
#case2:with arguments and no return
def add(num1,num2):
    result=num1+num2
    print(result)
    print("inside function calling")
n1,n2=input("enter the numbers:").split(",")
print("before function calling")
n1=int(n1)
n2=int(n2)
add(n1,n2)
print("after function calling")

enter the numbers:3,4
before function calling
7
inside function calling
after function calling

In [6]:
#case3: without args and with return type
print("hello")
def add():
    num1,num2=input("enter the two numbers").split(",")
    num1=int(num1)
    num2=int(num2)
    result=num1+num2
    return result
print("before function calling")
a=add()
print("after function calling")
print(a)

hello
before function calling
enter the two numbers2,5
after function calling
7

In [7]:
#case4:with argument and with return type
print("hello")
def add(a,b):
    result=num1+num2
    return result
num1,num2=input("enter the two numbers").split(",")
num1=int(num1)
num2=int(num2)
print("before function calling")
a=add(num1,num2)
print("after function calling")
print(a)

hello
enter the two numbers2,4
before function calling
after function calling
6

In [5]:
print("hello")
def add(a,b):
    l=[1,2,3]
    l1=[2,4]
    result=num1+num2
    return result,"madrid",l,l1
print("inside the function")
num1,num2=input("enter the two numbers").split(",")
num1=int(num1)
num2=int(num2)
print("before function calling")
a=add(num1,num2)
print("after function calling")
print(a)

hello
inside the function
enter the two numbers2,4
before function calling
after function calling
(6, 'madrid', [1, 2, 3], [2, 4])

#### Q. WAF to check whether the number is odd or even using 4 cases above

In [1]:
#no arguments no return
def even():
    num=input("enter the number")
    num=int(num)
    if num%2==0:
        print(num,"is even no")
    else:
        print(num,"is odd no")
even()

enter the number6
6 is even no

In [2]:
#2 with arguments no return
def even(num):
    if num%2==0:
        print(num,"is even no")
    else:
        print(num,"is odd no")
n=input("enter the number:")
n=int(n)
even(n)

enter the number:67
67 is odd no

In [7]:
#3 without arguments with return type
def even():
    num=input("enter the number")
    num=int(num)
    if num%2==0:
        print(num,"even no")
    else:
        print(num,"odd no") 
    
    return num #to use it later, just printing would be used just here

a=even() #result wasn't stored in just even()
print(a)

enter the number4
4 even no
4

In [8]:
#4 with args with return type
def even(num):
    if num%2==0:
        print(num,"even no")
    else:
        print(num,"odd no") 
    return num
n=input("enter the number")
n=int(n)

a=even(n)
print(a)

enter the number34
34 even no
34

#### Q. WAF to compute the area of a circle

In [8]:
#no args no return type
pi=3.14
def area():
    radius=float(input("enter the radius of circle:"))
    area_circle=pi*radius*radius
    print(area_circle)
area()

enter the radius of circle:6
113.03999999999999

In [9]:
#2: with arguments no return 
pi=3.14
def area(r):
    area1=pi*radius*radius
    print(area1)
radius=float(input("enter the radius of circle:"))
area(radius)

enter the radius of circle:6
113.03999999999999

In [11]:
#3: without args with return type
pi=3.14
def area():
    radius=float(input("enter the radius of circle:"))
    area2=pi*radius*radius
    return area2
r=area()
print(r)

enter the radius of circle:6
113.03999999999999

In [13]:
#4: with args with return type
pi=3.14
def area(r):
    area3=pi*r*r
    return area3
rad=float(input("enter the radius of circle:"))
a=area(rad)
print(a)

enter the radius of circle:6
113.03999999999999

In [1]:
#13/09/2022

In [14]:
#case 4:with args and with return type
def pos(x):
    if x>0:
        print(x,"is positive")
    elif x<0:
        print(x,"is negative")
    else:
        print(x,"is zero")
    return x
y=int(input("enter a number:"))
z=pos(y)
print(z)

enter a number:5
5 is positive
5

In [15]:
#with args and no return
def pos(x):
    if x>0:
        print(x,"is positive")
    elif x<0:
        print(x,"is negative")
    else:
        print(x,"is zero")
    print(x)
n=int(input("enter the no."))
pos(n)

enter the no.-9
-9 is negative
-9

In [17]:
#without args without return type
def check():
    num=int(input("enter the number:"))
    if num>=0:
        print("positive no")
    else:
        print("negative no")
check()

enter the number:45
positive no

In [20]:
#without args with return type
def check():
    num=int(input("enter the number:"))
    if num>=0:
        return num,"positive no"
a=check()
print(a)

enter the number:45
(45, 'positive no')

In [12]:
len("hii")#len is used on iterables, list,tuples,strig,dictionary

3

In [13]:
len([1,2,"hii"])

3

In [14]:
pow(2,3)

8

In [15]:
a="hello"#it checks the memory location and gives back the reference id
id(a)

1700065004336

In [16]:
ord("A") #ascii value

65

In [18]:
chr(65) #corresponding character to ascii value

'A'

In [19]:
round(12.76)

13

In [20]:
round(12.776655,2)#default end digits are none

12.78

In [21]:
dir(list) #directories
#to check functions and attributes

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [23]:
help(print)#it gives us the detail of the function

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [26]:
#scalable function
#case4: variable number of arguments
def add(*args):
    type(args)
    print(args)
    sum=0
    for arg in args:
        sum=sum+arg
    print(type(args))
    print(sum)

add(2,3)
add(2,4,6,7)

(2, 3)
<class 'tuple'>
5
(2, 4, 6, 7)
<class 'tuple'>
19

In [28]:
#keyword arguments
def student(firstname,lastname):
    print(firstname,lastname)
#keyword arguments
#same as normal arguments but you can specify the arguments
student(firstname="madrid",lastname="solutions")
student(lastname="solutions",firstname="madrid")
#we gave same output in different order and still get same output

madrid solutions
madrid solutions

In [16]:
def madrid():
    print("hii")
    return "hello"
    print("hii")
a=madrid()
print(a)

hii
hello

In [1]:
#14/09/22

In [2]:
#local scope
a=2
def myfunc():
    x=300
    print(x)
    print(a)
myfunc()
print(a)

300
2
2

In [3]:
#global
x=300
def myfunc():
    x=200
    print(x)
myfunc()
print(x)

200
300

In [5]:
x=300
def myfunc():
    global x
    print(x)
    x=200
    print(x)
print(x)
myfunc()
print(x)

300
300
200
200

In [6]:
#recursion

In [7]:
def factorial(num):
    if num==1:  #base condition
        return 1
    else:
        return factorial(num-1)*num

n=int(input("enter the number"))
if n==0 or n==1:
    print("factorial of ",n,"is",1)
elif n<0:
    print("factorial of negative numbers is not defined")
else:
    fact=factorial(n) #fuction is calling itself(recursion)
    print(fact)

enter the number5
120

In [8]:
#modules

In [9]:
import math

dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [10]:
math.pi

3.141592653589793

In [11]:
math.floor(3.66) #it gives the integer part

3

In [13]:
math.ceil(3.435) #equal to or greater than the number

4

In [14]:
math.floor(-2.7)

-3

In [15]:
math.ceil(-2.7)

-2

In [16]:
import random

In [17]:
random.randint(1,100)

62

In [18]:
a=[2,4,5,6]
random.shuffle(a)
a

[4, 5, 2, 6]

In [10]:
import time

In [20]:
time.time()  #it returns the total seconds from 1 jan

1663136049.9968824

In [11]:
time.time()

1665356536.312462

In [21]:
time.ctime() #as per geographical location

'Wed Sep 14 11:44:54 2022'

In [24]:
print("hello")
time.sleep(2)
print("hello")

hello
hello

In [22]:
import os

In [23]:
os.getcwd() #returns current working directory

'C:\\Users\\rupan\\core python'

In [12]:
#Q-1
reverse=0
def rev(nu):
    global reverse
    if nu>10:
        r=nu%10
        nu=nu//10
        reverse=reverse*10+r
num=int(input("enter the number"))
rev(num)
print(reverse)

enter the number2345
5

In [2]:
#Q-2
def list():
    for i in l:
        i=int(i)
        if i%2==0:
            print(i,"even number")
        else:
            print(i,"odd number")
l=input("enter the list: ").split(" ")
list()

enter the list: 56 67 4 5
56 even number
67 odd number
4 even number
5 odd number

In [35]:
#Q-3
name=input("enter the names:").split(" ")
print("the names are:",name)
def greet():
    for i in name:
        if "a" in i:
            print("Good Morning",i)
        else:
            print("hello",i)
greet()

enter the names:zayn niall louis rupa
the names are: ['zayn', 'niall', 'louis', 'rupa']
Good Morning zayn
Good Morning niall
hello louis
Good Morning rupa

In [3]:
l1=1
def a():
    s="hi"
    print(s)
    return s
    l1=2
print(l1)
k=a()
print("p")
print(l1)

1
hi
p
1

In [3]:
def st_details(n1,n2):
    '''this is for student details'''
    print("student details")

In [2]:
st_details.__doc__ #name of the function . double underscore doc double underscore
st_details()

'this is for student details'