In [1]:
rows=int(input("enter the number of rows"))
for i in range(1,rows+1):
    for j in range(1,6):
        print("#",end="")
    print(end="\n")

enter the number of rows5
#####
#####
#####
#####
#####

In [2]:
rows=int(input("enter the number of rows"))
num=int(input("enter the number of columns "))
for i in range(1,rows+1):
    for j in range(1,num+1):
        print(j," ",end="")
    print(end="\n")

enter the number of rows5
enter the number of columns 5
1  2  3  4  5
1  2  3  4  5
1  2  3  4  5
1  2  3  4  5
1  2  3  4  5

In [3]:
rows=int(input("enter the number of rows"))
num=int(input("enter the number of columns "))
count=1
for i in range(1,rows+1):
    for j in range(1,num+1):
        print(count,end=" ")
        count+=1
    print(end="\n")

enter the number of rows5
enter the number of columns 5
1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

#homework of 6th september

In [4]:
rows=int(input("enter the number of rows"))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print(end="\n")

enter the number of rows5
*
* *
* * *
* * * *
* * * * *

In [9]:
row=int(input("enter the no of row:"))
k=0
for i in range(1,row+1):
    for j in range(1,row+1):
        print(k," ",end="")
        k=int(not k)
    print(end="\n")

enter the no of row:5
0  1  0  1  0
1  0  1  0  1
0  1  0  1  0
1  0  1  0  1
0  1  0  1  0

In [10]:
row=int(input("enter the number of rows:"))
m=65
for i in range(1,row+1):
    k=m
    for j in range(1,row+1):
        print(chr(k)," ",end="")
        k=k+5
    m=m+1
    print(end="\n")

enter the number of rows:5
A  F  K  P  U
B  G  L  Q  V
C  H  M  R  W
D  I  N  S  X
E  J  O  T  Y

In [11]:
chr(38)

'&'

In [12]:
ord("*")

42

In [13]:
rows=int(input("enter the number of rows"))
k=rows
for i in range(1,rows+1):
    for j in range(1,k+1):
        print("*"," ",end=" ")
    k=k-1
    print(" ")

enter the number of rows5
*   *   *   *   *
*   *   *   *
*   *   *
*   *
*

In [14]:
row=int(input("enter the no of rows "))
space=row
for i in range(1,row+1):
    for j in range(1,space):
        print(end=" ")
    space=space-1
    for k in range(1,i+1):
        print("*",end="")
    print(end = "\n")

enter the no of rows 5
    *
   **
  ***
 ****
*****

In [15]:
row=int(input("enter the no of rows: "))
k=row
for i in range(1,row+1):
    for j in range(1,i+1):
        print(k,end="")
    k=k-1
    print(end="\n")

enter the no of rows: 5
5
44
333
2222
11111

In [14]:
rows=int(input("enter the number of rows"))
k=1
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(k*k,end=" ")
        k=k+1
    print(end="\n")

enter the number of rows4
1
4 9
16 25 36
49 64 81 100

In [1]:
p=int(input(" enter the no of rows: "))
for i in range(1,p+1):
    for j in range(1,p+1,1):
        if i==1 or j==1 or i==p or j==p:
            print("*",end=" ")
        else:
            print(end="  ")
    print()

 enter the no of rows: 3
* * *
*   *
* * *