# SETS()-sets are mutuable but values are immutable

# sets are unordered collection of data enclosed in {}
# properties of data
set elements are unique,duplicate elements are not allowed 
no indexing and slicing
sets do not allow mutuable data type
set itself is mutuable data type implies2d/3d cannot be possible

In [4]:
s={}
type(s) #use type constructor

dict

In [1]:
s=set()
type(s) #empty set

set

In [3]:
s={1,2,3,4}
print(s)
type(s)

{1, 2, 3, 4}

set

In [5]:
s={1,2,3,3,4,5,6,3,4,3}
type(s)
s #gives unique element only

{1, 2, 3, 4, 5, 6}

In [6]:
l=[1,2,3,4,3,4,5,3,4]
set(l) #if order does not matter than use set

{1, 2, 3, 4, 5}

In [8]:
s={2,3,8,4,5,7} #does not maintain the order-unordered
s

{2, 3, 4, 5, 7, 8}

In [11]:
s={1,2,3,5.6,"rupanshi",7.8}
type(s)

set

# list to set

In [12]:
l=[1,2,3,4]
set(l)

{1, 2, 3, 4}

In [13]:
#sets do not allow mutuable data 
s1={1,2,3,4,["balmmet","madrid"]}
type(s1)

TypeError: unhashable type: 'list'

In [14]:
s1={1,2,3,4,{"balmmet","madrid"}}
type(s1)

TypeError: unhashable type: 'set'

In [15]:
s={1,2,3,"madrid"}
s[3] #no indexing or slicing

TypeError: 'set' object is not subscriptable

In [16]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

# add the elements-using add()

In [18]:
s={34,56,78}
print(id(s))
s.add(99)
print(s)
print(id(s)) #same memory address-mutuable

1655023956032
{56, 34, 99, 78}
1655023956032

# deletion in set()

In [19]:
s={1,2,3,4}
del s[2] #no del allowed in set-use remove

TypeError: 'set' object doesn't support item deletion

In [20]:
s={1,2,3,4,5,66}
s.remove(66)
s

{1, 2, 3, 4, 5}

# using pop()-unordered so it will delete random element

In [21]:
s={1,2,3,4,5.6,"rupanshi"}
s.pop()
print(s) #del random element

{2, 3, 4, 5.6, 'rupanshi'}

# loop in set

In [22]:
for i in{1,2,3,4}:
    print(i)

1
2
3
4

In [23]:
# wap to add the element into the set which is enetered by user

In [26]:
s=set()
size=int(input("enter the number of element in the set--"))
for i in range(1,size+1):
    a=input("enter the value to be added in the list--")
    s.add(a)
print(s)

enter the number of element in the set--5
enter the value to be added in the list--2
enter the value to be added in the list--3
enter the value to be added in the list--4
enter the value to be added in the list--45
enter the value to be added in the list--54
{'2', '3', '54', '4', '45'}

# operations-len,max,min,sorted

In [27]:
s={1,2,3,4}
s.clear() #it does not delete the set but clear it
s

set()

# union()

In [28]:
s1={1,2,3,4}
s2={5,6,7,8}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
s1={1,2,3,4}
s2={5,6,7,8}
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8}

 # intersection()

In [31]:
s1={1,2,3,5,4}
s2={5,6,7,8}
s1.intersection(s2)

{5}

In [33]:
s1={1,2,3,5,4}
s2={5,6,7,8}
print(s1&s2)

{5}

# difference-remove common part

In [34]:
s1={1,2,3,5,4}
s2={5,6,7,8}
s1.difference(s2) #remove s2 part

{1, 2, 3, 4}

In [38]:
s1={1,2,3,5,4}
s2={5,6,7,8}
print(s1-s2)
s1 #does not change s1

{1, 2, 3, 4}

{1, 2, 3, 4, 5}

# difference_update()

In [37]:
s1={1,2,3,5,4}
s2={5,6,7,8}
s1.difference_update(s2)
print(s1)
s1 #it will update the s1

{1, 2, 3, 4}

{1, 2, 3, 4}

# symmetric_difference()-gives all elements except common

In [40]:
s1={1,2,3,5,4}
s2={5,6,7,8}
s1.symmetric_difference(s2)

{1, 2, 3, 4, 6, 7, 8}

# subset-issubset()-all elemnts of s1 present in s2

In [41]:
s1={1,2,3,5,4}
s2={5,6,7,8}
s1.issubset(s2)

False

# isdisjoint()-distinct nothing common

In [43]:
s1={1,2,3,5,4}
s2={6,7,8}
s1.isdisjoint(s2)

True

# frozen set()-immutable version of set,elements will remain same after creation.due to this sets can be used as keys of dict

In [44]:
a={1,2,3,4,5}
a1=frozenset(a)
print(a)

{1, 2, 3, 4, 5}

In [45]:
a1.add(3)

AttributeError: 'frozenset' object has no attribute 'add'

In [4]:
#wap to add all the elements in the set from 2000 to 2100 whose all digits are even
s=set()
for i in range(2000,2101):
    s1=str(i)
    count=0
    for j in s1:
        j=int(j)
        if j%2==0:
            count=count+1
    if count==4:
        s.add(i)
print(s)

{2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046}

In [5]:
'''l1=["jai kumar singh"]
l2=["nitish singh kataria"]
output
first=["jai","nitish"]
middle=["kumar","singh"]
last=["singh","kataria"]'''
l1=["jai kumar singh"]
l2=["nitish singh kataria"]