In [1]:
t=(1,2,3,4)
type(t)

tuple

In [2]:
t=[1,2,3,4]
type(t)

list

In [3]:
t="abc"
type(t)

str

In [4]:
t="abc","def"
type(t)

tuple

In [5]:
t=("abc","def")
type(t)

tuple

In [6]:
t=() #empty tuple
type(t)

tuple

In [8]:
t=("madrid",) #always need a comma for single element to define in tuple
type(t)

tuple

In [9]:
t=(1)
type(t)

int

In [10]:
t=(1,)
type(t)

tuple

In [11]:
s="madrid"
t=tuple(s) #typecasting
t

('m', 'a', 'd', 'r', 'i', 'd')

In [12]:
s=[1,2,3,4,5]
t=tuple(s)
t

(1, 2, 3, 4, 5)

In [13]:
t=((1,2,3),(4,5,6)) #2d tuple
t

((1, 2, 3), (4, 5, 6))

# tuples : immutable

In [14]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# packing and unpacking of tuples

In [17]:
tup=('a','quick','brown','fox','jumps','over','the','lazy','dog') #packing of tuple
print(tup)
type(tup)

('a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog')

tuple

In [20]:
a,b,c,d,e,f,g,h,i=t #unpacking tuple
t

ValueError: not enough values to unpack (expected 9, got 2)

In [21]:
# slicing in tuple - homework 
# x=((10,20,30),(40,50,60),(70,80,90),(11,22,33),(44,55,66),(77,88,99),(12,13,14))

In [23]:
t=("hello",(1,2)) #your data must be homogeneous
min(t)

TypeError: '<' not supported between instances of 'tuple' and 'str'

In [24]:
t=('a','A')
x=sorted(t) #output based on ascii value caps letter have smaller value
print(x)

['A', 'a']

In [25]:
t=('a','A')
x=sorted(t,reverse=True)
print(x)

['a', 'A']

In [26]:
t=(23,85)
sum(t)

108

In [29]:
t=(100,200,100,300,100)
t.index(100)

0

In [30]:
t=(100,200,100,300,100)
t.count(100)

3

In [32]:
t=(1,2,3)+("hello","hii")
t

(1, 2, 3, 'hello', 'hii')

In [33]:
t=(1,2,3)+("hello","hii")
t*2

(1, 2, 3, 'hello', 'hii', 1, 2, 3, 'hello', 'hii')

In [34]:
t=(1,2,3)+("hello","hii")
t*2
2 in t

True

# how to sort elements of tuple -convert in list first and then apply sort

In [37]:
l1=(1,2,6,2,8,3)
l1=list()
list.sort()
list

TypeError: unbound method list.sort() needs an argument

In [ ]:
# dictionary -data will store as a keyvalue